#demo
    margin: 50px 0 0 0
    .navy
        .minibox
            display: inline-block
            margin: 20px
            width: 200px
            height: 200px
            background-color: #4b6489
            border: 1px solid rgb(41, 88, 68)
            h1
                width: 100px
                height: 100px
                background-color: #1b2f58
                color: #ffff
