#demo
    .minibox
        margin: 10px
        border: 3px solid #277855
        background-color: #277855
        width: 130px
        height: 130px
        h1
            font-size: 14px
            color: #ffff
    .bgc
        position: fixed
        top: 150px
        left: 310px
        width: 125px
        height: 125px
    .bcc
        position: fixed
        top: 10px
        left: 310px
        width: 125px
        height: 125px
